body {
    background-color: rgba(33,36,38);
}

@font-face {
    font-family: 'Friz Quadrata Regular';
    src: local('Friz Quadrata Regular'), url(./fonts/Friz\ Quadrata\ Regular.ttf);
}

#logo {
    display: block;
    max-width: 20%;
    max-height: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -2em;
}

.input-container {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    margin-top: 1%;
    width: 40%;
    height: 3.5em;
    background-color: rgb(46, 49, 51);
    border-style: none;
    border-radius: 50px;
    border-width: 0px;
    color: rgba(176,180,183)
}

#region-container {
    margin-left: 2em;
    margin-top: .5em;
    margin-right: -10%;
    border-right: 1px solid rgba(176,180,183);
    color:rgba(255, 255, 255);
}

#region-container > select {
    margin-top: .3em;
    background-color:transparent;
    border:none;
    margin-left: -.25em;
    color: rgba(176,180,183);
}

.region-option {
    background-color: rgb(46, 49, 51);
    border: none;
    
}

#summoner-container {
    margin-left: 2em;
    margin-top: .5em;
    color:rgba(255, 255, 255);
}

#summoner-container > input {
    background-color: transparent;
    width:100%;
    border:none;
    outline-width:0px;
    color: rgba(176,180,183);
    margin-top: .3em;
    margin-left: -.2em;
}

#search-bar-submit {
    background: transparent;
    border-style: none;
    margin-top: 1em;
    margin-right: -3em;
}

#search-bar-image {
    height: 1.5em;
    width: 1.5em;
}

#search-bar-image:hover {
    cursor:pointer;
}

.summoner-info-container {
    display: grid;
    grid-template-rows: repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 1em;
    width: 40%;
    /* flex-direction: column;
    flex-wrap: wrap;
    align-items: center; */
}

#summoner-name {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .2em;
    font-size: 1.5em;
    color: rgba(255,255,255,.85);   
}

#summoner-icon {
    border-radius: 2em;
    height: 100%;
    width: 15%;
    margin-left: auto;
    margin-right: auto;

}

#summoner-level {
    color: white;
    background-color: rgba(0, 0, 0);
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(216, 184, 0);
    border-width: .13em;
    position: relative;
    padding: 3px 3px 3px 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -.8em;
}

.games-container {
    margin-left: auto;
    margin-right: auto;
    width:55%
}

.game-container {
    border-style: solid;
    border-width: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    background-color:transparent;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
}

.game-container:hover {
    border-color:rgba(216, 185, 9, 0.767);
    cursor:pointer;
    border-width:2px;
}


#champion-and-level-container {
    padding: .4em 0 .2em .4em;
}

#champion-icon {
    height: 90%;
    width: 65%;
    border-radius: 3em;
    border-color: rgba(255, 217, 0, 0.726);
    border-width: .15em;
    border-style: solid;
}

#champion-level {
    color: white;
    background-color: rgba(0, 0, 0);
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(216, 184, 0, .9);
    border-width: .13em;
    padding: 3px 3px 2px 3px;
    margin-left: -25px;
}

.victory-status-container {
    padding-top: .5em;
    color: rgb(180, 180, 180);
}

#victory-status {
    font-weight: bold;
}

#summoner-spells-container {
    margin-top: .3em;
}

#summoner-spell-1 {
    width: 2em;
    height: 2em;
    margin-right: .15em;
    border-width: 2px;
    border-color: rgba(54, 54, 54, 0.781);
    border-style: solid;
}

#summoner-spell-2 {
    width: 2em;
    height: 2em;
    border-width: 2px;
    border-color: rgba(54, 54, 54, 0.781);
    border-style: solid;
}

.item-kda-cs-gold-container {
    padding: 1em 1em;
    font-weight: lighter;
    color: rgb(209, 208, 208);
}

#items-container {
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
}

#items-container > img {
    width:8%;
    height:8%;
    border-color:gold;
    border-style: solid;
    border-width: 1px;
    margin-right: 2px;

}

#kda > img{
    margin-left: .2em;
    margin-top: .1em;
}

#creep-score {
    margin-left: 4em;
}

#creep-score > img {
    width: 1em;
    height: 1em;
}

#gold-earned {
    margin-left: 4em;
}

#gold-earned > img {
    width: 1.2em;
    height: 1em;
}

#map-date-container {
    color: rgb(209, 209, 209);
    font-weight:lighter;
    font-size: 1em;
}

#map-name {
    margin-top: 1.5em;
    margin-right: 1.5em;
}

#duration-and-date-container {
    margin-top: .5em;
}

#game-date {
    margin-left: .5em;
}

@keyframes fade-in-out{
    0%{ opacity: 1;}
    100%{ opacity: 0;}
}

.fade-in-and-out{
    animation: fade-in-out .3s alternate-reverse 
}

.team-header-container {
    display: grid;
    grid-template-columns: 15em 15em 15em;
    font-size: 1.2em;
    color: rgba(255, 255, 255, .9);
    margin-left: .75em;
    margin-top: .75em;
}

#team-header-gold{
    height:.8em;
    width:1em;
    margin-left: .1em;
    margin-top: .1em;
}

#team-header-kda{
    margin-left: .1em;
    margin-top: .1em;
}

.team-container {
    display: grid;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    grid-template-columns: .5fr .95fr .7fr 2fr .8fr .8fr .8fr;
    align-items: center;
    margin-bottom: 1em;
    color:rgb(224, 223, 223);
    background-color: rgb(38, 42, 44);
    padding-bottom: .5em;
}

.team-champion-icon {
    height: 2.5em;
    width: 2.5em;
    border-radius: 1.5em;
    border-color: gold;
    border-width: 2px;
    border-style: solid;
    margin-top: .5em;
    margin-left: .5em;
}

.participant-summoner-spell
{
    width:1.6em;
    height:1.6em;
    margin-top:.5em;
    margin-left:.2em;
    border-style: solid;
    border-color: gold;
    border-width: 1px;
}

#participant-level {
    color: white;
    font-size: .7em;
    background-color: rgba(0, 0, 0);
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(216, 184, 0);
    border-width: .18em;
    position: relative;
    padding: 3px 3px 3px 3px;
    margin-left: -1em;
    margin-bottom:-1em;
}

#participant-summoner-name > span:hover{
    cursor: pointer;
    color: rgb(66, 66, 255);
}

.team-item-image {
    height: 1.8em;
    width: 1.8em;
    margin-top:.5em;
    margin-left: .15em;
    border-color: gold;
    border-width: 1px;
    border-style: solid;
}

.participant-stat-icon{
    height: 1em;
    width: 1.2em;
    padding-top:2px;
    margin-left: .2em;
    margin-top: .2em;
}

#participant-kda{
    margin-left:.2em;
}

#participant-cs{
    height:1em;
    width:1em;
    margin-left: .2em;
}

#loading {
    display: block;
    max-width: 10%;
    max-height: 10%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

#loading-text {
    margin-top: 1em;
    margin-left: 47%;
    margin-right: 50%;
    font-size: 1.5em;
    font-style: bold;
    color: white;
}


#footer-container {
    margin-top: 5em;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: rgba(176,180,183)
}

#footer-text {
    margin-top:1em;
}

#social-media-links {
    margin-top: 1em;
}

#twitter-icon {
    height: 2.5em;
    width: 2.5em;
}

#facebook-icon {
    margin-left: .2em;
    height: 2.4em;
    width: 2.4em;
}

#instagram-icon {
    margin-left: .3em;
    height: 2.5em;
    width:2.5em;
}

#linkedin-icon {
    margin-left: .2em;
    height: 2.5em;
    width:2.5em;
}

#github-icon {
    height: 2.5em;
    width: 4em;
    margin-left: -.5em;
}